* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; 
    border: none;
    outline: none;       
}

html {
    font-size: 62,5%;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}